/**
 * The RTL language extension of the more-link component.
 */

.more-link {
  text-align: left;
}
.more-help-link {
  text-align: left;
}
.more-help-link a {
  background-position: 100% 50%;
  padding: 1px 20px 1px 0;
}
