<header class="header-logo-and-title" role="banner">
<h1 class="header--site-name" id="site-name">
<a href="/" title="Home" class="header--site-link" rel="home"><span class="header-logo-and-title--snowman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>The Nerdologues</a>
</h1>
</header>
<div id="navigation" class="main-nav">
<a href="#navigation" class="show-menu-button">Show Menu</a>
<a href="#navigation" class="hide-menu-button">Hide Menu</a>



  {{ content }}


</div>
<div class="main-nav main-nav--patreon">
  <div class="main-nav--patreon-inner">
    <a class="main-nav--patreon-link" href="https://www.patreon.com/nerdologues">Proudly supported by our friends with
      <img class="main-nav--patreon-img" src='/themes/custom/nerdtheme/images/patreon.png' />
    </a>
  </div>
</div>
