version: 2.1
workflows:
  version: 2
  build_and_test:
    jobs:
      - playground/unit
      - pantheon/push:
          checkout: false
          terminus_clone_env: smalldb
          env_create_max_time: 11m
          directory_to_push: "."
          pre-steps:
            - checkout
            - playground/composer_install_no_dev
            - run: composer prepare-for-pantheon
            - run: cat .gitignore
            - run: git status
          post-steps:
            - run: cd "/tmp/pantheon_repo" && git status
            - run: echo "testing CI on master branch"
            # These commands should be called from Quicksilver.
            # https://github.com/pantheon-systems/quicksilver-examples/
            - run: terminus -n drush "$TERMINUS_SITE.$TERMINUS_ENV" -- updatedb -y
            - run: terminus -n drush "$TERMINUS_SITE.$TERMINUS_ENV" cr
            - run: terminus -n drush "$TERMINUS_SITE.$TERMINUS_ENV" -- config-import --yes
      - playground/backstop:
          requires:
             - pantheon/push
             - playground/unit
      - behavioral:
          requires:
             - playground/backstop
      - cypress/run:
          requires:
             - playground/backstop
          store_artifacts: true
          pre-steps:
            - playground/setbashenv
            - run: echo 'export CYPRESS_baseUrl="${MULTIDEV_SITE_URL}"' >> $BASH_ENV
            - run: source $BASH_ENV

orbs:
  cypress: cypress-io/cypress@1
  playground: fauxalgore/playground@0.0.2
  pantheon: pantheon-systems/pantheon@dev:directory_to_push

jobs:
  behavioral:
      docker:
       - image: quay.io/pantheon-public/build-tools-ci:5.x
      steps:
          - playground/setbashenv
          - playground/composer_install
          - run: terminus -n auth:login --machine-token="$TERMINUS_TOKEN"
          - run:
              name: Behat
              command: |
                export BEHAT_PARAMS='{"extensions" : {"Behat\\MinkExtension" : {"base_url" : "https://'$TERMINUS_ENV'-'$TERMINUS_SITE'.pantheonsite.io/"}}}'
                ./vendor/bin/behat --config=tests/behat/behat-pantheon.yml --strict --colors  --stop-on-failure --strict --log-step-times --suite=clickdriving "$@"
