defaults: &defaults
  docker:
   - image: quay.io/pantheon-public/build-tools-ci:4.x
  working_directory: ~/example_drops_8_composer
  environment:
    TZ: "/usr/share/zoneinfo/America/Los_Angeles"
    ADMIN_USERNAME: admin
    BUILD_TOOLS_VERSION: dev-master
    TERM: dumb

version: 2.1
jobs:
    build:
        <<: *defaults
        steps:
            - checkout

            - restore_cache:
                keys:
                  - composer

            - run:
                name: logins
                command: ./.circleci/logins.sh

            - run:
                name: variables
                command: /build-tools-ci/scripts/set-environment

            - run:
                command: composer install  --optimize-autoloader --ignore-platform-reqs

            - save_cache:
                key: composer
                paths:
                  - $HOME/.composer/cache

            - run:
                command: composer circle-tests

            - run:
                name: deploy
                command: |
                  terminus -n build:env:create "$TERMINUS_SITE.dev" "$TERMINUS_ENV" --yes  --clone-content

            - run:
                name: updb and import
                command: |
                  terminus drush "$TERMINUS_SITE.$TERMINUS_ENV" -- updb -y
                  terminus drush "$TERMINUS_SITE.$TERMINUS_ENV" -- config-import -y

    backstop:
        docker:
            - image: quay.io/stevector/ci-backstop:latest
        working_directory: ~/example_drops_8_composer
        steps:
            - checkout

            - run:
                name: Global vars
                # Override of https://github.com/stevector/docker-build-tools-ci/blob/master/dockerfiles/pantheon-ci-testing/scripts/set-up-global-vars.sh
                command: ./.circleci/set-up-global-vars.sh

            - run:
                name: run-backstop
                command: cd backstop && ./run-backstop.sh

            - store_artifacts:
                path: /tmp/artifacts
                destination: artifact

            - run:
                name: report-backstop
                command: ./backstop/run-backstop.sh

    behavioral:
        <<: *defaults
        steps:
            - checkout

            - restore_cache:
                keys:
                  - composer

            - run:
                name: logins
                command: ./.circleci/logins.sh

            - run:
                name: variables
                command: /build-tools-ci/scripts/set-environment

            - run:
                command: composer install  --optimize-autoloader --ignore-platform-reqs

            - save_cache:
                key: composer
                paths:
                - $HOME/.composer/cache

            - run:
                name: Behat
                command: |
                    # ./.circleci/behat-runners/add-behat-users.sh
                    ./.circleci/behat-runners/behat-wrapper.sh --suite=clickdriving --stop-on-failure

    merge:
        <<: *defaults
        steps:
            - checkout

            - run:
                name: Global vars
                # Override of https://github.com/stevector/docker-build-tools-ci/blob/master/dockerfiles/pantheon-ci-testing/scripts/set-up-global-vars.sh
                command: ./.circleci/set-up-global-vars.sh

            - run:
                name: merge to master
                command: ./.circleci/merge-to-master.sh

orbs:
  cypress: cypress-io/cypress@1
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - behavioral:
          requires:
          - backstop
      - backstop:
          requires:
             - build
      - cypress/run:
          requires:
          - backstop
          store_artifacts: true
          pre-steps:
            - checkout
            - run:
                command: ./.circleci/set-up-global-vars.sh
          #command: ./.circleci/set-up-global-vars.sh &&  echo "looking for the cypress base url $CYPRESS_baseUrl"  && npx cypress run
      - merge:
          requires:
             - behavioral
             - cypress/run
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
    - build
    - behavioral:
        requires:
        - backstop
    - backstop:
        requires:
        - build
    - cypress/run:
        requires:
        - backstop
        store_artifacts: true
        pre-steps:
        - checkout
        - run:
            command: ./.circleci/set-up-global-vars.sh
