version: 2.1
workflows:
  version: 2
  build_and_test:
    jobs:
      - playground/unit
      - pantheon/push:
          pre-steps:
            - checkout
            - playground/composer_install_no_dev
          post-steps:
            - run: cd "/tmp/pantheon_repo_for_$TERMINUS_SITE" && git status
            - run: terminus -n drush "$TERMINUS_SITE.$TERMINUS_ENV" -- updatedb -y
            - run: terminus -n drush "$TERMINUS_SITE.$TERMINUS_ENV" cr
            - run: terminus -n drush "$TERMINUS_SITE.$TERMINUS_ENV" -- config-import --yes
      - playground/backstop:
          requires:
             - pantheon/push
             - playground/unit
      - behavioral:
          requires:
             - playground/backstop
      - cypress/run:
          requires:
             - playground/backstop
          store_artifacts: true
          pre-steps:
            - playground/setbashenv
            - run: echo 'export CYPRESS_baseUrl="${MULTIDEV_SITE_URL}"' >> $BASH_ENV
            - run: source $BASH_ENV
      - playground/merge:
          requires:
             - behavioral
             - cypress/run
          # todo, These steps run even if the branch is not master. figure out a way around that.
          post-steps:
            - run: terminus -n drush "$TERMINUS_SITE.dev" -- updatedb -y
            - run: terminus -n drush "$TERMINUS_SITE.dev" cr
            - run: terminus -n drush "$TERMINUS_SITE.dev" -- config-import --yes

orbs:
  cypress: cypress-io/cypress@1
  playground: fauxalgore/playground@dev:12
  pantheon: stevector/pantheon@dev:stevector

jobs:
  behavioral:
      docker:
       - image: quay.io/pantheon-public/build-tools-ci:4.x
      steps:
          - playground/setbashenv
          - playground/composer_install
          - run: terminus -n auth:login --machine-token="$TERMINUS_TOKEN"
          - run:
              name: Behat
              command: |
                export BEHAT_PARAMS='{"extensions" : {"Behat\\MinkExtension" : {"base_url" : "https://'$TERMINUS_ENV'-'$TERMINUS_SITE'.pantheonsite.io/"}}}'
                ./vendor/bin/behat --config=tests/behat/behat-pantheon.yml --strict --colors  --stop-on-failure --strict --log-step-times --suite=clickdriving "$@"
