{{ page.header }}
<div class="main whitebox">
  <div class="main-content" role="main">
   <a id="main-content"></a>
   {{ page.system }}
	 <div id="content" role="main">
	  {{ page.content }}
		</div>
  </div>
</div>
{{ page.footer }}
