<header class="header-logo-and-title" role="banner">
<h1 class="header--site-name" id="site-name">
<a href="/" title="Home" class="header--site-link" rel="home"><span class="header-logo-and-title--snowman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>The Nerdologues</a>
</h1>
</header>
<div id="navigation" class="main-nav">
<a href="#navigation" class="show-menu-button">Show Menu</a>
<a href="#navigation" class="hide-menu-button">Hide Menu</a>
<div class="menu-block-wrapper menu-block-ctools-main-menu-1 menu-name-main-menu parent-mlid-0 menu-level-1">
<ul class="menu"><li class="menu__item is-leaf first leaf menu-mlid-1506"><a href="/nerds-are-funny" class="menu__link">About</a></li>
<li class="menu__item is-leaf leaf menu-mlid-1507"><a href="/nerds" title="" class="menu__link">Nerds</a></li>
<li class="menu__item is-leaf leaf menu-mlid-1508"><a href="/events" title="" class="menu__link">Events &amp; Shows</a></li>
<li class="menu__item is-collapsed collapsed menu-mlid-1509"><a href="/podcasts" title="" class="menu__link">Podcasts</a></li>
<li class="menu__item is-leaf leaf menu-mlid-1510"><a href="/videos" title="" class="menu__link">Videos</a></li>
<li class="menu__item is-collapsed last collapsed menu-mlid-1511"><a href="/fisticuffs" class="menu__link">Fisticuffs!</a></li>
</ul></div>
</div>
