<header class="header-logo-and-title" role="banner">
<h1 class="header--site-name" id="site-name">
<a href="/" title="Home" class="header--site-link" rel="home"><span class="header-logo-and-title--snowman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>The Nerdologues</a>
</h1>
</header>
<div id="navigation" class="main-nav">
<a href="#navigation" class="show-menu-button">Show Menu</a>
<a href="#navigation" class="hide-menu-button">Hide Menu</a>
<div>
<ul><li class="menu__item is-leaf first leaf menu-mlid-1506"><a href="/nerds-are-funny" class="menu__link">About</a></li>
<li><a href="/nerds" title="" class="menu__link">Nerds</a></li>
<li><a href="/events" title="" class="menu__link">Events &amp; Shows</a></li>
<li><a href="/podcasts" title="" class="menu__link">Podcasts</a></li>
<li><a href="/videos" title="" class="menu__link">Videos</a></li>
<li><a href="/fisticuffs" class="menu__link">Fisticuffs!</a></li>
</ul>
</div>
</div>

<div class="main-nav" style="background-color: #232D32">
  <div style="max-width:800px; margin: 0 auto ;">
    <a style="background-color: #232D32; text-align: right; font-size: 14px; padding:10px 10px;" href="https://www.patreon.com/nerdologues">Proudly supported by our friends with
      <img src='/themes/custom/nerdtheme/images/patreon.png' style="display:inline; width:100px; margin-bottom:-7px;"/>
    </a>
  </div>
</div>
