<div class="l-2up  clearfix">

  {# I don't understand why an empty quote reports as having
  a length of 1.
  #}
  {% if quote|render is not empty %}
  <div class="teaser-with-image--quote">
    <div class="inside">{{ quote }}</div>
  </div>
  {% endif %}

  {% if header %}
  <div class="teaser-with-image--header">
    <div class="inside">{{ header }}</div>
  </div>
  {% endif %}

  <div class="teaser-with-image--image">
    <div class="inside">{{ left }}</div>
  </div>

  <div class="teaser-with-image--text">
    <div class="inside">{{ right }}</div>
  </div>
</div>
